<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Manage your processes">
    <meta name="author" content="Lucas Medeiros Leite">
    
    <title>.:: Taskify ::.</title>

    <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/3.0.0/polaris.min.css" />

    <%= if Mix.env == :prod do %>
      <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <% end %>
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>
    
    <%= if Mix.env == :dev do %>
      <script src="http://localhost:8080/app.js"></script>
    <% else %>
      <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <% end %>
  </body>
</html>
